

@media (max-width: 768px) {

    html, body {
        height: 100vh;
        max-height: 100vh;
        overflow: hidden;
    }
    section.sidebar {
        display: none;
    }    
    section.main {
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
    }
    main {
        min-height: calc(100vh - ( var(--nav-height) + var(--footer-height) ) );
    }
    
    
    /* header*/
    header img {
        max-height: 36%;
    }
    .header-right .header-link {
        display: none;
    }
    .header-right p {
        display: none;
    }
    .header-right .image-holder {
        display: none;
    }
    .header-right .mobile-nav {
        display: block;
        position: relative;
        top: 6px;
        right: 6px;
    }    
    .header-right span {
        padding: 0px 5px;        
        font-size: 15px;
    }
    .header-right img {
        max-height: 28px;
    }

    /* mobile menu */
    .mobile-nav .mobile-menu {        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        opacity: 100;
        background: black;
        width: 100vw;
        height: calc(100vh - (var(--nav-height)));
        top: var(--nav-height);
        height: 100vh;
        top: 0;
        position: fixed;        
        left: 0;
        transform: translate(-150%);
        z-index: 5;                
        transition: transform 0.5s ease-in-out;
        text-align: left;
        background: linear-gradient(303deg, #030e16 30%, #023150 100%);
    }
    .nav-open .mobile-menu {        
        transform: translateX(0);
    }
    .mobile-nav .mobile-menu .menu {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px;
        overflow: auto;
    }
    .mobile-nav .mobile-menu .header {
        display: flex;
        justify-content: space-between;
    }
    .mobile-nav .mobile-menu img {
        border: 0px transparent;
    }
    .mobile-nav .mobile-menu .body {
        padding-top: 2em;
    }
    .mobile-nav .mobile-menu .body span {
        font-size: 1.2em;
        font-family: 'Atma';
        font-weight: 500;
    }
    .mobile-nav .mobile-menu .body p {
        display: block;
        position: relative;
        top: 5px;
        margin: 10px;
    }
    .mobile-nav .header-body-link {
        margin-top: 25px;
        border-top: 2px solid grey;
        padding-top: 25px;
    }
    .mobile-nav .header-body-link span {
        font-size: 1.2em;
        font-family: 'Atma';
        font-weight: 500;
        display: inline;
    }
    .mobile-nav .header-body-link p {
        fill: white;
        stroke: white;
        display: inline;
        position: relative;
        top: 5px;
    }
    .mobile-nav .mobile-menu .header-body-item {
        display: flex;
        align-items: center;                
    }
    .mobile-nav .mobile-menu svg {
        stroke: #afa7a7;
        height: 25px;
        width: 25px;
        transition: transform 200ms ease;
        transform-origin: center;
    }
    .mobile-nav .header-body-explanation {
        background: #0e0d0d;
        border-radius: 9px;        
        font-size: 0.85em;
        font-family: Archivo;
        color: #fdfdfd;
        line-height: 1.55;
        letter-spacing: 0.01em;        
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        max-height: 0px;
        overflow: hidden;        
        padding: 0px;
        transition: all 200ms ease;
    }
    .mobile-nav .explanation-open {        
        max-height: 1500px;
    }
    .header-explanation {
        padding: 27px;
    }
    .mobile-nav .chevron-open {
        transform: rotate(180deg);
    }
    .footer a {
        text-decoration: none;
        color: #aacaf8;
        font-size: 0.8em;
        font-family: 'Archivo';
        position: relative;
    }



    /* body */
    #big-map svg {
        width: max-content;    
        max-width: max-content;
        height: 100%;
    }
    .back-button-wrapper {
        top: 5px;
        left: 0px;
    }
    .top-stats-bar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
    }
    .top-stats-left, .top-stats-right {
        display: flex;
    }
    .top-stats-bar h1 {
        font-size: 1em;
        margin: 0;
    }
    .top-stats-bar p {
        margin: 0;
        color: white;
        padding-left: 10px;
        position: relative;
        top: -1px;
        font-size: 0.9em;
    }



    /* footer */
    footer {
        height: 200px;
    }
    .footer-bottom {
        padding-top: 0px;
        padding-bottom: 0px;        
        text-align: left;
    }
    .footer-logo img {
        max-height: 40px;
    }
    .footer-bottom-items {
        flex-direction: row;
        align-items: center;
        height: 75px;
    }
    .footer-bottom-items p {
        display: none;
    }

    /* booBoards */
    .booBoard-container {
        margin-left: 5px;
        margin-right: 15px;
    }
    .booBoard {
        width: auto !important;
    }
    button.gridjs-sort.gridjs-sort-neutral {
        opacity: 0 !important;
    }
    table.gridjs-table {
        table-layout: auto !important;
    }
    th.gridjs-th {
        border: none !important;
        background: none !important;
        color: white !important;
        padding: 5px !important;
        white-space: break-spaces !important;
    }
    .gridjs-tbody {
        background: transparent !important;
    }
    td.gridjs-td {
        background: transparent !important;
        color: white !important;
        padding: 12px 6px !important;
        border: none !important;
    }
    .gridjs a {
        color: #7699e4 !important;
    }
    .gridjs-footer {
        display: none !important;
    }


}

