

@media (max-width: 768px) {

    html, body {
        height: 100vh;
        max-height: 100vh;
        overflow: hidden;
    }
    section.sidebar {
        display: none;
    }    
    section.main {
        width: 100%;
    }
    main {
        min-height: calc(100vh - ( var(--nav-height) + var(--footer-height) ) );
    }
    
    
    /* header*/
    header img {
        max-height: 36%;
    }
    .header-right .header-link {
        display: none;
    }
    .header-right p {
        display: none;
    }
    .header-right .image-holder {
        display: none;
    }
    .header-right .mobile-nav {
        display: block;
        position: relative;
        top: 6px;
        right: 6px;
    }    
    .header-right span {
        padding: 0px 5px;        
        font-size: 15px;
    }
    .header-right img {
        max-height: 28px;
    }

    /* mobile menu */
    .mobile-nav .mobile-menu {        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        opacity: 100;
        background: black;
        width: 100vw;
        height: calc(100vh - (var(--nav-height)));
        top: var(--nav-height);
        height: 100vh;
        top: 0;
        position: fixed;        
        left: 0;
        transform: translate(-150%);
        z-index: 5;                
        transition: transform 0.5s ease-in-out;
        text-align: left;
        background: linear-gradient(303deg, #030e16 30%, #023150 100%);
    }
    .nav-open .mobile-menu {        
        transform: translateX(0);
    }
    .mobile-nav .mobile-menu .menu {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px;
    }
    .mobile-nav .mobile-menu .header {
        display: flex;
        justify-content: space-between;
    }
    .mobile-nav .mobile-menu img {
        border: 0px transparent;
    }
    .mobile-nav .mobile-menu .body {
        padding-top: 2em;
    }
    .mobile-nav .mobile-menu .body span {
        font-size: 1.2em;
        font-family: 'Atma';
        font-weight: 500;
    }
    .mobile-nav .mobile-menu .body p {
        display: block;
        position: relative;
        top: 5px;
        margin: 10px;
    }
    .mobile-nav .mobile-menu .header-body-item {
        display: flex;
        align-items: center;                
    }
    .mobile-nav .mobile-menu svg {
        stroke: #afa7a7;
        height: 25px;
        width: 25px;
        transition: transform 200ms ease;
        transform-origin: center;
    }
    .mobile-nav .header-body-explanation {
        background: #0e0d0d;
        border-radius: 9px;        
        font-size: 0.85em;
        font-family: Archivo;
        color: #fdfdfd;
        line-height: 1.55;
        letter-spacing: 0.01em;        
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        max-height: 0px;
        overflow: hidden;        
        padding: 0px;
        transition: all 200ms ease;
    }
    .mobile-nav .explanation-open {        
        max-height: 1500px;
    }
    .header-explanation {
        padding: 27px;
    }
    .mobile-nav .chevron-open {
        transform: rotate(180deg);
    }



    /* body */
    #big-map svg {
        width: max-content;    
        max-width: max-content;
        height: 100%;
    }
    .back-button-wrapper {
        top: 5px;
        left: 0px;
    }



    /* footer */
    footer {
        height: 200px;
    }
    .footer-bottom {
        padding-top: 0px;
        padding-bottom: 0px;        
        text-align: left;
    }
    .footer-logo img {
        max-height: 40px;
    }
    .footer-bottom-items {
        flex-direction: row;
        align-items: center;
        height: 75px;
    }
    .footer-bottom-items p {
        display: none;
    }



    _